<!-- Menu Items Macro -->
{% macro menu_items(style_class) %}
    <li>
        <a href="{{ url_for('index') }}" class="{{ style_class }}">{{ t('nav', 'home') }}</a>
    </li>
    {% if config['DEBUG'] %}
    <li>
        <a href="{{ url_for('sql') }}" class="{{ style_class }}">
            <img src="{{ url_for('static', filename='images/sql-icon.svg') }}" alt="SQL" class="h-5 w-5 inline-block">
            {{ t('nav', 'sql_tool') }}
        </a>
    </li>
    {% endif %}
{% endmacro %}

<!-- Navbar -->
<div class="navbar bg-base-200 shadow-lg">
    <div class="navbar-start">
        <a href="{{ url_for('index') }}" class="btn btn-ghost text-xl font-bold">{{ config['APP_NAME'] }}</a>
    </div>
    <div class="navbar-end gap-2">
        <!-- Language Selector -->
        {% include 'components/language_selector.html' %}

        <!-- Theme Controller Dropdown (All Themes) -->
        {% include 'components/themecontroller.html' %}

        <!-- Desktop Menu -->
        <ul class="menu menu-horizontal px-1 hidden lg:flex">
            {{ menu_items('btn btn-ghost') }}
        </ul>

        <!-- Mobile Dropdown Menu -->
        <div class="dropdown dropdown-end lg:hidden">
            <div tabindex="0" role="button" class="btn btn-ghost">
                <img src="{{ url_for('static', filename='images/menu-icon.svg') }}" alt="Menu" class="h-5 w-5">
            </div>
            <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                {{ menu_items('text-base-content') }}
            </ul>
        </div>
    </div>
</div>
