<!-- Menu Items Macro -->
{% macro menu_items(style_class) %}
    {% if config['DEBUG'] %}
    <li>
        <a href="{{ url_for('sql') }}" class="{{ style_class }}">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
            </svg>
            {{ t('nav', 'sql_tool') }}
        </a>
    </li>
    {% endif %}
{% endmacro %}

<!-- Navbar -->
<div class="navbar bg-base-200 shadow-lg">
    <div class="navbar-start">
        <a href="{{ url_for('index') }}" class="btn btn-ghost text-xl font-bold">{{ config['APP_NAME'] }}</a>
    </div>
    <div class="navbar-end">
        <!-- Language Selector -->
        {% include 'components/language_selector.html' %}

        <!-- Theme Controller Dropdown (All Themes) -->
        {% include 'components/themecontroller.html' %}

        <!-- Desktop Menu -->
        <ul class="menu menu-horizontal px-1 hidden lg:flex">
            {{ menu_items('btn btn-ghost') }}
        </ul>

        <!-- Mobile Dropdown Menu -->
        <div class="dropdown dropdown-end lg:hidden">
            <div tabindex="0" role="button" class="btn btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
            <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-32 p-2 shadow">
                {{ menu_items('text-base-content') }}
            </ul>
        </div>
    </div>
</div>
