{% set available_themes = [ "light", "dark", "dim", "cupcake", "bumblebee",
"emerald", "corporate", "synthwave", "retro", "cyberpunk", "valentine",
"halloween", "garden", "forest", "aqua", "lofi", "pastel", "fantasy",
"wireframe", "black", "luxury", "dracula", "cmyk", "autumn", "business", "acid",
"lemonade", "night", "coffee", "winter" ] %}

<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-ghost gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
      />
    </svg>
    <span class="hidden md:inline capitalize">{{ current_theme }}</span>
    <svg
      width="12px"
      height="12px"
      class="inline-block h-2 w-2 fill-current opacity-60"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 2048 2048"
    >
      <path
        d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
      ></path>
    </svg>
  </div>
  <ul
    tabindex="0"
    class="dropdown-content menu bg-base-300 rounded-box z-[1] w-80 p-2 shadow-2xl max-h-96 overflow-y-auto"
  >
    {% for theme in available_themes %}
    <li>
      <a href="{{ update_query_params(theme=theme) }}"
         class="{% if theme == current_theme %}active font-semibold{% endif %} flex justify-between items-center capitalize whitespace-nowrap">
        <span>{{ theme }}</span>
        {% if theme == current_theme %}
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
